@import "../../app.scss";
.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -90px;
  z-index: 1000;
  padding: 100px;
  padding-top: 200px;

  @include mobile {
    top: -90px;
    padding: 20px;
    padding-top: 120px;
  }

  .modalContainer {
    display: flex;
    gap:20px;
    margin-left: 10%;
    margin-top: 7%;

    .directoryPath{
      position: absolute;
      left:18%;
      top:30%;
      font-size: 24px;
      cursor: pointer;

      @include mobile {
        display: none;
      
      }
    }
    .closeBtn {
      position: absolute;
      top: 5%;
      right: 10%;
      border: none;
      cursor: pointer;
      background-color: transparent;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .folder {
      background-color: transparent;
      border:none;
      cursor: pointer;
      img {
        width: 100px;
        height: 100px;
      }

      h2{
        color:white;
      }
    }

    .folders{
      display: flex;
      flex-wrap: wrap;
      gap:30px;
      width: 45%;

      @include mobile {
        width: 100%;
      }

    }
  }
}

.backBtn{
  cursor: pointer;
  position: absolute;
  left:14.5%;
  top:29%;
  background: transparent;
  color:white;
  border:none;
  background: url(../../../public/back.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  
  @include mobile {
    top:5%;
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
}

.container {
  display: flex;
  gap:20px;
  margin-top: 15px;

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    img{
      width: 100px;
      height: 100px;
    }
  }
}