@import "../../app.scss";

.navbar {
  height: 100px;
  .enlanceGithub {
    display: flex;
    align-items: center;
  }
  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      display: flex;
      align-items: center;

      @include mobile {
        display: none;
      }

      img {
        width: 84px;
        height: 56px;
      }
    }

    .social {
      display: flex;
      gap: 20px;
      align-items: center;

      a:first-child {

        img {
          width: 26.5px;
          height: 26px;
          border-radius: 10px;

          @include mobile {
            width: 30px;
            height: 30px;
          }
        }
      }

      a:last-child{

        img{
          border-radius: 2px;
        }
        
      }
      
      img {
        width: 22px;
        height: 22px;

        @include mobile {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
